@model IEnumerable<Chore_App.Models.ChoresList>

@{
    ViewData["Title"] = "Index";
}


<table class="table">
    <thead>
        
        <h1>My chores this week</h1>
        
    </thead>
    <tbody>
        <!--Loop through the chores we have in the DB and add to table-->
        @foreach (var item in Model.Where(i => i.isComplete != true))
        {
        <tr>
         
            <td>
                 @item.Chore
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id"><button type="button" class="btn btn-secondary">Edit</button></a>
                <a asp-action="Delete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-secondary">Delete</button></a>
                <a asp-action="Complete" asp-route-id="@item.Id"><button type="button" class="btn btn-outline-secondary">Mark Complete</button></a>
            </td>
           
        </tr>
        }
    </tbody>
 
</table>
<p>
    <a asp-action="Create"><button type="button" class="btn btn-primary"> Create New</button></a>
</p>

<table class="table">
    <thead>
        <h1>Competed Chores</h1>
    </thead>
    <tbody>
        @foreach (var task in Model.Where(m => m.isComplete))
        {
            <tr>
                <td>
                    @task.Chore
                </td>
            </tr>
        }
    </tbody>
</table>

